{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env"
                ],
                "@babel/react"
            ]
        }
    }
}