@import "~bootstrap/scss/bootstrap";
@import "./table";
@import "./variables";
@import "./spacing-helpers";

body {
  background-color: $defaultBackgrondColor;
}
.body-content{
  background-color: white;
  padding: 20px;
}
h3.heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}