@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_pagination";
@import "./table";
@import "./variables";
@import "./spacing-helpers";

body {
  background-color: $defaultBackgrondColor;
}
.body-content {
  background-color: white;
  padding: 20px;
}
h3.heading {
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
.card {
  height: 200px;
  display: inline-table;
  width: 100%;
  margin-top: 25px;
}

.card a {
  height: 200px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: xx-large;
}
.card a:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}
.recharts-responsive-container {
  margin: 0 auto;
  height: 50% !important;
}
.month-selector {
  float: right;
  a {
    color: #000;
    cursor: pointer;
    font-weight: 700;
  }
  span {
    margin: 0 20px;
  }
}

.pagination {
  display: block !important;

  ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

  li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    text-transform: capitalize;

    a {
      outline: none;
    }
  }

  li.disabled a {
    color: gray;
    pointer-events: none;
  }
}
